// global styles
@import "/src//app//style.scss";

// phablets
@media screen and (max-width: 499px) {
  .layout-header {
    max-width: 300px;
    // height: 100vh;
    border-right: 1px solid $border-color;
    z-index: 999;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #fff;
    width: 0px;
    margin-left: 20px;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    // transition: 0.1s;
  }

  .mobile-header {
    visibility: visible !important;
    opacity: 1;
    margin-left: 0px;
    z-index: 999999999;
    // box-shadow: 20px 0px 20px 20px #00000069;
    width: 100vw;
    max-width: 100vw;
  }

  .background {
    background-color: #fff;
    padding: 8px;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: calc(100vw - 260px);
  }

  .layout-header ul.menu li {
    margin-right: 8px;
  }

  .layout-header ul.menu li span {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .layout-header .add-tweet-icon {
    display: none;
  }

  .layout-header .add-tweet-icon svg {
    display: none;
  }

  .layout-header .add-tweet {
    display: none;
  }
}

// phablets
@media screen and (min-width: 500px) and (max-width: 1023px) {
  .layout-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 68px;
    height: 100vh;
    overflow: auto;
    border-right: 1px solid $border-color;
  }

  .background {
    background-color: #fff;
    padding: 8px;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .layout-header .add-tweet-icon {
    background-color: $theme-color;
    height: 48px;
    width: 48px;
    min-height: 48px;
    color: #fff;
    border: 0px;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .layout-header .add-tweet-icon svg {
    height: 24px;
    width: 24px;
    margin: auto;
  }

  .layout-header .add-tweet-icon:hover {
    background-color: $theme-color-hover;
  }

  .layout-header ul.menu li span {
    display: none;
  }

  .layout-header .add-tweet {
    display: none;
  }

  .layout-header .profile .profile-column {
    display: none;
  }

  .layout-header .profile svg {
    display: none;
  }
}

// tablet/small PCs
@media screen and (min-width: 1024px) and (max-width: 1319px) {
  .layout-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 88px;
    margin-left: 20px;
    height: 100vh;
    overflow: auto;
    border-right: 1px solid $border-color;
  }

  .background {
    background-color: #fff;
    padding: 8px;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .layout-header .add-tweet-icon {
    background-color: $theme-color;
    height: 48px;
    width: 48px;
    color: #fff;
    border: 0px;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }

  .layout-header .add-tweet-icon svg {
    height: 24px;
    width: 24px;
    margin: auto;
  }

  .layout-header .add-tweet-icon:hover {
    background-color: $theme-color-hover;
  }

  .layout-header ul.menu li span {
    display: none;
  }

  .layout-header .add-tweet {
    display: none;
  }

  .layout-header .profile .profile-column {
    display: none;
  }

  .layout-header .profile svg {
    display: none;
  }
}

// desktop
@media screen and (min-width: 1320px) {
  .layout-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    max-width: 260px;
    margin-left: 40px;
    padding-right: 24px;
    height: 100vh;
    overflow: auto;
    border-right: 1px solid $border-color;
  }

  .background {
    background-color: #fff;
    padding: 8px;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .layout-header ul.menu li {
    margin-right: 8px;
  }

  .layout-header ul.menu li span {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .layout-header .add-tweet-icon {
    display: none;
  }

  .layout-header .add-tweet {
    height: 48px;
    min-height: 48px;
    width: 215px;
    margin: 16px 0px;
    background-color: $theme-color;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border: 0px;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    outline: none;
    cursor: pointer;
  }

  .layout-header .add-tweet:hover {
    background-color: $theme-color-hover;
  }
}

.layout-header .logo {
  height: 28px;
  margin: 8px 0px 0px;
  padding: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.layout-header .logo:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 8px;
}

.layout-header ul.menu {
  margin: 0px 0px 16px 0px;
  padding: 0px;
}

.layout-header ul.menu li {
  list-style: none;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.layout-header ul.menu li:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 20px;
  span {
    color: $theme-color;
  }
}

.layout-header ul.menu li .active {
  margin-left: 16px;
  font-size: 1.2rem;
  font-weight: 700;
  color: $theme-color;
}

.layout-header ul.menu li svg {
  height: 24px;
  width: 24px;
  margin: 8px;
}

// .layout-header .logout {
//   margin: 0px 0px 0px 16px;
//   color: red;
//   cursor: pointer;
// }