$theme-color: #1da1f2;
$theme-color-hover: #1a91da;
$secondary-background: #f5f8fa;
$border-color: #e6ecf0;
$post-text: #14171a;
$secondary-action-color: #657786;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: rgba(222, 222, 222, 0.75);
  width: 2px;
  transition: opacity 0.5s 0.5s ease-out;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #e0cbcb;
  transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 499px) {
  .app-container {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 100fr;
    position: relative;
  }
  .not-mobile-visible {
    display: none !important;
  }
  .modal-container .modal-view {
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
  .app-container {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 68px auto;
    position: relative;
  }

  .modal-container .modal-view {
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .app-container {
    max-width: 80%;
    width: 80%;
    margin: 0px 10%;
    display: grid;
    grid-template-columns: 68px minmax(600px, 600px);
    justify-content: center;
    position: relative;
  }

  .modal-container .modal-view {
    width: 600px;
    top: 42px;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1319px) {
  .app-container {
    max-width: 100%;
    min-width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 108px auto;
    justify-content: center;
    position: relative;
  }

  .modal-container .modal-view {
    width: 600px;
    top: 42px;
    position: absolute;
  }
}

@media screen and (min-width: 1320px) {
  .app-container {
    max-width: 1320px;
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: center;
    position: relative;
  }
  .modal-container .modal-view {
    width: 600px;
    top: 42px;
    position: absolute;
  }
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  transition: 0.3s;
  margin-top: auto;
  margin-bottom: 20px;
}

// .profile-bottom {
//   position: absolute;
//   margin-top: 12px;
//   bottom: 24px;
// }

.profile:hover {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 24px;
  opacity: 1;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}
.avatar-header {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: inherit !important;
}

.profile-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.name {
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 700;
  color: #000;
  overflow-wrap: break-word;
  white-space: nowrap;
  max-width: 148px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  font-size: 1rem;
  font-weight: 400;
  color: secondary-action-color;
  overflow-wrap: break-word;
  white-space: nowrap;
  max-width: 148px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile svg {
  height: 12px;
  width: 12px;
  margin-left: 16px;
}

.trends {
  border-top: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  transition: 0.3s;
  cursor: pointer;
}

.trends:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.trend-header {
  font-size: 13px;
  color: secondary-action-color;
}

.trend-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
}

.trend-footer {
  font-size: 14px;
  color: secondary-action-color;
  margin-bottom: 4px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  z-index: 9;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  animation-name: loading;
  animation-duration: 0.35s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.modal-container .modal-view {
  background-color: #ffffff;
  border-radius: 10px;
}

.modal-container .modal-view .modal-header {
  font-weight: 600;
  font-size: 2rem;
  color: $theme-color;
  padding: 4px 15px;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
}

.modal-container .modal-view .modal-body {
   height: auto;
   min-height: 260px;
   max-height: 500px;
   overflow: auto;
   padding: 8px;
}

a {
  text-decoration: none;
  color: inherit;
  display:inline-block;
}

.layout-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

svg[alt="logo"] {
  height: 120px;
  margin: 0 auto;
}

.layout-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;

  p {
    color: $theme-color;
  }

  .spinner,
  .spinner:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  .spinner {
    margin: 0px auto;
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #f3ecec;
    border-right: 1.1em solid #f3ecec;
    border-bottom: 1.1em solid #f3ecec;
    border-left: 1.1em solid $theme-color;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.8s infinite linear;
    animation: load8 0.8s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.loading-home {
  position: relative;
  height: calc(100vh - 170px);
}